<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitReposSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A879A4D526E63A9800B2D6FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A879A4EB26E63A9E00B2D6FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A879A4F626E63A9E00B2D6FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
